
<div class="grid grid-cols-7 min-h-screen  ">
    <div class="form-image col-span-4 overflow-hidden ">
        <app-form-image [formImageSrc]="forgetPasswordImageSrc" [formImageAlt]="forgetPasswordImageAlt"></app-form-image>
    </div>
    <form [formGroup]="forgetPasswordForm" class="content-center fporgetPassword-form col-span-3 p-16 form-bg " (ngSubmit)="onSubmit()">
           
   

            <div class="form-heading pb-5">
                <app-form-heading [headingText]="forgetPassowrdHeading" [subHeadingText]="forgetPassowrdSubHeading" [notLogin]="hasBackBtn"></app-form-heading>
           </div>

            <div  class="email-input pb-3">
                @let email = forgetPasswordForm.get('email');
                <label for="email_address" class="main-auth-label">Email Address</label>
                <input formControlName="email"type="email" id="email_address" class="main-input main-auth-input w-full" placeholder="momenmamdouhw@gmail.com" required autocomplete="true"/>
            </div>

            @if (email?.touched && email?.errors) {
                @if (email?.getError('required')) {
                    <div class="emailWarning p-4  text-sm text-red-900 rounded-lg bg-red-300 dark:bg-gray-800 dark:text-red-300" role="alert">
                        <span class="font-medium">Warning alert!</span>  Email is required.
                    </div>
                }
                @else if (email?.getError('pattern')) {
                    <div class="emailWarning p-4  text-sm text-red-900 rounded-lg bg-yellow-300 dark:bg-gray-800 dark:text-red-300" role="alert">
                        <span class="font-medium">Warning alert!</span>  Ensure it follow email rules.
                    </div>
                }
               
           }


            <button [disabled]="isLoading" type="submit" class="main-auth-btn">Send OTP</button>
            @if (errorMessage) {
                <div class="p-4 my-4 text-sm text-white rounded-lg bg-red-600 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <span class="font-medium">!!! {{errorMessage}} </span>
                </div>
            }

    </form>

</div>  


@if (isLoading) {
   <app-form-modal [headingText]="modalHeading" [subHeadingText]="modalSubHeading" 
    [roterLink]="modalRouterLink" [buttonText]="modalButtonText"></app-form-modal>
}

