
<div class="grid grid-cols-7 min-h-screen  ">
    <div class="form-image col-span-4 overflow-hidden ">
        <app-form-image [formImageSrc]="resetPasswordImageSrc" [formImageAlt]="resetPasswordImageAlt"></app-form-image>
    </div>
    <form [formGroup]="resetPasswordForm" class="content-center fporgetPassword-form col-span-3  p-16 form-bg " (ngSubmit)="onSubmit()">
           
   

            <div class="form-heading pb-5">
                <app-form-heading [headingText]="resetPassowrdHeading" [subHeadingText]="resetPassowrdSubHeading" [notLogin]="hasBackBtn"></app-form-heading>
           </div>

            <div  class="email-input pb-3">
                @let email = resetPasswordForm.get('email');
                <label for="email_address" class="block mb-2 text-base font-normal black-color dark:text-gray-900 ">Email Address</label>
                <input formControlName="email"type="email" id="email_address" class="main-input w-full" placeholder="momenmamdouhw@gmail.com" required autocomplete="true"/>
            </div>

            @if (email?.touched && email?.errors) {
                @if (email?.getError('required')) {
                    <div class="emailWarning p-4  text-sm text-red-900 rounded-lg bg-red-300 dark:bg-gray-800 dark:text-red-300" role="alert">
                        <span class="font-medium">Warning alert!</span>  Email is required.
                    </div>
                }
                @else if (email?.getError('pattern')) {
                    <div class="emailWarning p-4  text-sm text-red-900 rounded-lg bg-yellow-300 dark:bg-gray-800 dark:text-red-300" role="alert">
                        <span class="font-medium">Warning alert!</span>  Ensure it follow email rules.
                    </div>
                }
               
           }

           <div   class="newPassword-input pb-3">
            @let newPassword = resetPasswordForm.get('newPassword');
            <label for="newPassword" class="block mb-2 text-base font-normal black-color dark:text-gray-900"> New Password</label>
            <input formControlName="newPassword" type="password" autocomplete="true" id="newPassword" class="main-input w-full" placeholder="************" required />
        </div>

        @if (newPassword?.touched && newPassword?.errors) {
            @if (newPassword?.getError('required')) {
                <div class="newPasswordWarning p-4  text-sm text-red-900 rounded-lg bg-red-300 dark:bg-gray-800 dark:text-red-300" role="alert">
                    <span class="font-medium">Warning alert!</span>  New Password is required.
                </div>
            }
            @else if (newPassword?.getError('pattern')) {
                <div class="passwordWarning p-4  text-sm text-red-900 rounded-lg bg-yellow-300 dark:bg-gray-800 dark:text-red-300" role="alert">
                    <span class="font-medium">Warning alert!</span>  At Least 8 Charcs.
                </div>
            }
           
       }

        <div  class="repassword-input pb-3">
            @let rePassword = resetPasswordForm.get('rePassword');

            <label for="repassword" class="block mb-2 text-base font-normal black-color dark:text-gray-900">rePassword</label>
            <input formControlName="rePassword" type="password" id="repassword" class="main-input w-full" placeholder="************" required />
        </div>
        @if (resetPasswordForm.getError('mismatch') && rePassword?.touched) {
            <div class="rePasswordWarning p-4  text-sm text-red-900 rounded-lg bg-yellow-300 dark:bg-gray-800 dark:text-red-300" role="alert">
                <span class="font-medium">Warning alert!</span>  It must match the password written !!!
            </div>   
          
       }


            <button [disabled]="isLoading" type="submit" class="main-auth-btn" (click)="resetPassword()">Reset Password</button>
            @if (errorMessage) {
                <div class="p-4 my-4 text-sm text-white rounded-lg bg-red-600 dark:bg-gray-800 dark:text-red-400" role="alert">
                    <span class="font-medium">!!! {{errorMessage}} </span>
                </div>
            }

    </form>

</div>  


@if (resetPasswordForm.valid && showModal) {
    <app-form-modal [headingText]="modalHeading" [subHeadingText]="modalSubHeading" 
    [roterLink]="modalRouterLink" [buttonText]="modalButtonText"></app-form-modal>
}

